{% extends 'base.html' %}
{% block content %}
<table class="table">
   <thead>
      <tr>
         <th scope="col">#</th>
         <th scope="col">First</th>
         <th scope="col">Last</th>
         <th scope="col">Options</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         {% if allSecrets %}
         {% for xx in allSecrets %}
         <td> <a href="{% url 'secretRecord' xx.id %}" >   {{ xx.id }}  </td>
         <td> {{ xx.firstName }}  </td>
         <td> {{ xx.lastName }}  </td>
         <td> {{ xx.options }}  </td>
      </tr>
      {% endfor %}
      {% endif %}
   </tbody>
</table>
{% endblock%}